@mixin for-phone-only {
  @media (max-width: 600px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 900px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 1200px) { @content; }
}

/* Global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;

	@include for-tablet-landscape-up {
		padding: 0 40px;
	}
}


/* Header */
.header {
  height: 70px;
}


/* Intro */

.intro {
	background: url(https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/468172906cfa52d09058ab71/pexels-photo-273209.jpeg) no-repeat;
	background-size: cover;
	background-position: 50% 0;
	background-attachment: fixed;
	padding: 235px 0 60px;

	@include for-tablet-landscape-up {
		padding: 160px 0 60px;
	}
}

.intro__heading {
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
	color: #fff;
	line-height: 1.1;
	font-weight: 700;
	margin: 0 0 60px;
}

.intro__text {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	max-width: 500px;
	margin: 0 0 40px;
}

.intro__button {
	text-transform: uppercase;
	color: #111111;
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
	padding: 16px 50px;
	background-color: #fff;
	border-radius: 50px;
	font-weight: 700;
	letter-spacing: 2px;
	white-space: nowrap;
}

.intro__button:hover {
	background-color: #eee;
}


/* Elevate */
.elevate__item {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 0 30px;
	position: relative;

	@include for-tablet-portrait-up {
		display: none;
	}
}

.elevate {
	padding: 90px 0;
	font-size: 0;
}

.elevate__item:first-child {
	padding-top: 60px;

	@include for-tablet-landscape-up {
		padding-top: 20px;
	}

	@include for-tablet-portrait-up {
		display: block;
		width: 100%;
	}
}

.elevate__img1 {
	width: 252px;
	height: 293px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
}

.elevate__img2 {
	width: 255px;
	height: 293px;
}

.elevate__title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #111111;
	font-size: 48px;
	line-height: 1.1;
	margin: 0 0 60px;
}

.elevate__subtitle {
	font-size: 24px;
	font-weight: 700;
	color: #ccd3db;
	line-height: 1.2;
	margin: 0 0 20px;
}

.elevate__text {
	margin: 0 0 30px;
	font-size: 16px;
	color: #111111;
}

.elevate__contact {
	color: #000;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
}

.elevate__contact::before {
	content: "";
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url("/whatsuplogo.svg");
	vertical-align: middle;
	margin-right: 7px;
}

.elevate__contact:hover {
	color: #ccd3db;
}

.elevate__counter {
	width: 255px;
	height: 255px;
	color: #111;
	font-size: 96px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #e0e5eb;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.elevate__counter h3 {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* About */
.about {
	padding: 55px 0;
	background-color: #f5f7fa;
}

.about__heading {
	max-width: 775px;
	font-size: 48px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	margin: 0 0 25px;
	line-height: 1.1;
	color: #111;
}

.about__text {
	max-width: 570px;
	color: #111;
	font-size: 16px;
	margin: 0 0 30px auto;
	line-height: 2;
}

.about__text:last-child {
	font-size: 18px;
	color: #ccd3db;
	font-weight: 700;
	margin-bottom: 0;
}


/* Experts */
.experts {
	font-size: 0;
	padding-top: 90px;
	margin: 0 0 150px;

	@include for-tablet-landscape-up {
		padding-top: 60px;
		margin-bottom: 80px;
	}
}

.experts__item {
	width: 600px;
	text-align: center;
	display: inline-block;
	padding: 0 50px;
	vertical-align: top;
	margin-right: 75px;

	@include for-tablet-landscape-up {
		width: auto;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.experts__small-item {
	width: 390px;
	display: inline-block;

	@include for-tablet-landscape-up {
		width: auto;
	}

	@include for-tablet-portrait-up {
		text-align: center;
	}
}

.experts-item__heading {
	font-size: 48px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #111111;
	line-height: 1.1;
	margin: 0 0 30px;
}

.experts-item__img {
	width: 425px;
	height: 425px;
	object-fit: cover;

	@include for-tablet-landscape-up {
		display: none;
	}
}

.experts-small-item__img {
	width: 290px;
	height: 290px;
	object-fit: cover;
	margin: 0 0 20px;

	@include for-tablet-landscape-up {
		float: left;
		margin-right: 40px;
	}

	@include for-phone-only {
		float: none;
		margin-right: 0;
		width: 100%;
	}
}

.experts-small-item__text {
	font-size: 16px;
	color: #111111;
	margin: 0 0 20px;
	text-align: left;
}

.experts-small-item__button {
	text-transform: uppercase;
	font-size: 16px;
	color: #111111;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 17px 53px 18px;
	background-color: #e0e5eb;
	border-radius: 50px;
	display: inline-block;
}

.experts-small-item__button:hover {
	background-color: #ccc;
}


/* Statistic */
.statistic {
	padding-bottom: 60px;
	font-size: 0;

	@include for-tablet-portrait-up {
		padding-bottom: 20px;
	}
}

.statistic__item {
	width: 50%;
	display: inline-block;
	vertical-align: top;

	@include for-tablet-portrait-up {
		display: block;
		width: auto;
		margin-bottom: 40px;
	}
}

.statistic__item:first-child {
	padding: 60px 30px 0;
}

.stat__title {
	font-size: 48px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #111111;
	line-height: 1.1;
	margin: 0 0 20px;
}

.stat__subtitle {
	font-size: 18px;
	font-weight: 700;
	color: #ccd3db;
	line-height: 1.2;
	margin: 0 0 20px;
}

.stat__paragraph {
	font-size: 16px;
	color: #999;
	margin: 0;
}

.stat__box {
	display: inline-block;
	width: 49%;
	text-align: center;
	padding: 10px;

	@include for-phone-only {
		width: 100%;
		margin-right: 0 !important;
		margin-bottom: 20px !important;
	}
}

.stat__box h3 {
	font-size: 72px;
	color: #b9c1cc;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 20px;
}

.stat__box p {
	font-size: 14px;
	color: #999;
	margin: 0 0 10px;
}

.stat-box-wrap {
	background-color: #f5f7fa;
	padding: 35px 30px;
}

.stat__box.left {
	margin-right: 2%;
}

.stat__box.top {
	margin-bottom: 10px;
}


/* Scroller */
.scroller {
	background-color: #f5f7fa;
	padding: 60px 0;
}

.scroller__title {
	font-size: 48px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #111111;
	line-height: 1.1;
	max-width: 480px;
	margin: 0 0 60px;
}

.scroller__scroll {
	display: flex;
	gap: 60px;
	padding-right: 30px;
	width: 900px;
	margin-left: auto;

	@include for-tablet-landscape-up {
		overflow: auto;
		width: auto;
		padding: 0;
	}

	@include for-phone-only {
		display: block;
	}
}

.scroll__item {
	width: 405px;
	flex-shrink: 0;

	@include for-phone-only {
		width: 100%;
	}
}

.scr-item__img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	margin-bottom: 30px;
}

.scr-item__title {
	font-size: 24px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #111111;
	line-height: 1.2;
	margin: 0 0 20px;
}

.scr-item__text {
	font-size: 16px;
	color: #111;
	margin: 0 0 30px;
}

.scr-item__arrow {
	height: 48px;
	width: 48px;

	@include for-phone-only {
		display: none;
	}
}


/* Radio */
.radio {
	padding-top: 60px;
	margin-bottom: 140px;
	font-size: 0;
	white-space: nowrap;
}

.switch__item {
	display: none;
}

.switch__item-lab {
	display: inline-block;
	width: 33.33333%;
	user-select: none;
	font-size: 24px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #111111;
	padding: 10px 25px;
	text-align: center;
	background-color: #e0e5eb;
	cursor: pointer;

	@include for-tablet-portrait-up {
		display: block;
		width: 100%;
	}
}

.switch__item-lab:hover {
	background-color: #c4ced9;
}

.switch__item:checked + label{
	background-color: #fff;
}

.radio__content {
	height: 400px;
	display: none;
	white-space: normal;
}

.switch__item[id="frs"]:checked ~ .radio__content.des{
	display: block;
}

.switch__item[id="sec"]:checked ~ .radio__content.spe{
	display: block;
}

.switch__item[id="thi"]:checked ~ .radio__content.rev{
	display: block;
}

.radio__content.des {
	padding: 30px 30px 0;
}

.content-des__img {
	width: 420px;
	height: 100%;
	float: left;
	margin-right: 100px;

	@include for-tablet-landscape-up {
		width: 340px;
		margin-right: 40px;
	}

	@include for-tablet-portrait-up {
		width: 200px;
		height: auto;
	}

	@include for-phone-only {
		display: none;
	}
}

.content-des__title {
	font-size: 24px;
	color: #111;
	font-weight: 400;
	margin: 0 0 20px;
}

.content-des__text {
	font-size: 16px;
	color: #999;
	margin: 0 0 20px;
}

.content-des__ul {
	color: #111;
	font-size: 16px;
	list-style-position: inside;
	margin: 0;
}

.radio__content.spe {
	font-size: 16px;
	color: #111;
	padding-top: 10px;
}

.content-spe {
	margin: 0 0 30px;
}

.radio__content.rev {
	padding: 30px;
}

.content-rev__title {
	color: #111;
	font-size: 24px;
	margin: 0 0 30px;
	font-weight: 400;
}

.content-rev__text {
	font-size: 16px;
	color: #111;
	margin: 0 0 35px;
}

.content-rev__button {
	color: #ffffff;
	background-color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 30px;
	display: inline-block;
}


/* gallery */
.gallery {
	padding-bottom: 60px;
	text-align: center;
}

.gallery__row {
	display: flex;
	gap: 12px;
	justify-content: center;
	margin-bottom: 12px;

	@include for-phone-only {
		flex-wrap: wrap;
	}
}

.gallery__item {
	display: block;
	height: 260px;
	width: 276px;
	background: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/b3bed2a454b056bd97227ffd/pexels-photo-2078774.jpeg) center;
	background-size: cover;
	cursor: pointer;
	transition: transform .15s;

	&:hover {
		transform: scale(1.02);
	}

	@include for-tablet-portrait-up {
		&:nth-child(n + 3) {
			display: none;
		}
	}

	@include for-phone-only {
		flex-shrink: 0;
	}
}

.gallery__lightbox {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5rem;
	background: rgba(0, 0, 0, 0.8);

	img {
		display: block;
		margin: 0 auto;
		height: 100%;
		max-width: 100%;
		object-fit: contain;
	}

	&:target {
		display: block;
	}

	@include for-phone-only {
		padding: 1rem;
	}
}

.gallery__text {
	max-width: 410px;
	margin: 30px auto 30px;
}

.gallery__social {
	width: 96px;
	margin: 0 auto;
	font-size: 0;
}

.gallery__social div {
	font-size: 16px;
	width: 32px;
	padding: 2px;
	border: 1px solid #fff;
	font-weight: 700;
	cursor: pointer;
	display: inline-block;
	background-color: #343e4b1c;
}